body {
    height: 100vh;
    background-image: url('../Resources/Img/Backgrounds2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

/* Estilos de la página de login*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de contenedor login */
#containerLogin {
    border-radius: 20px;
}

/* Estilos de inputs login */
#emailInput,
#passwordInput,
#selectRol {
    margin: 1vh 0;
    border-radius: 20px;
    font-family: "Work Sans", sans-serif;
}

/* Estilos de boton login */
#btnLogin {
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    background-color: #00304D;
    border-color: #ff583300;
    border-radius: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos de boones de modal*/
#btnCloseModal, #btnreplyMessage, #btnSendMessage {
    width: 90%;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    background-color: #00304D;
    border-color: #ff583300;
    border-radius: 20px;
}

#btnCloseModal:hover, #btnreplyMessage:hover, #btnSendMessage:hover {
    background-color: #39A900;
}

/* Estilos de la pantalla de principal */
#containerPrincipal{
    width: 100vw;
    border-radius: 20px;
}

/* Estilos del encabezado */
.card-title {
    font-family: "Work Sans", sans-serif;
    font-size: 2rem;
}

/* Estilos de subencabezado */
.line {
    height: 2px;
    width: 90%;
    background-color: #00304D;
}

/* Estilos de barra de busqueda */
.search-container {
    width: 80%;
    margin: 2%;
    position: relative;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    color: #CCCCCC;
}

#searchBar::placeholder {
    color: #CCCCCC;
}

#searchBar {
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-weight: bold;
    color: #ccc;
}

svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #CCCCCC;
}

/* Estilos de botones de navegación */
#btnNavegation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#btnCheckCourse, #btnCheckNotifications, #btnCheckUserManual {
    width: 80%;
    margin: 1vh;
    font-family: "Work Sans", sans-serif;
    background-color: #00304D;
    border-color: #ff583300;
    border-radius: 20px;
}

#btnCheckCourse:hover, #btnCheckNotifications:hover, #btnCheckUserManual:hover {
    background-color: #39A900;
}



/* Estilos del pie de pagina */
#footer{
    margin: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7c7c7;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
}

/* Estilos del menú de navegación */

#optionMenu{
    width: 30%;
    height: 80%;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    background-color: #ffffff;
    border-color: #CCCCCC;
    border-radius: 20px;
    margin: 5vh;
}

#SenaLogo{
    width: 50%;
    margin: 1vh;
}

/* Estilos de la area de trabajo */
#workArea{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos del cuadro de trabajo */
#squareWork{
    height: 80%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Estilos de subencabezado */
#subHeading{
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    text-align: start;
    margin-left: 5vh;
    margin-bottom: 0%;
}

.linea-horizontal {
    border: none;
    height: 2px;
    background-color: #00304D;
    width: 92%;
    margin: 0 auto 20px;
    justify-content: center;
}

/* Estilos de la ficha interactiva */
#courseCard {
    width: 90%;
    text-align: center;
    border-radius: 20px;
}

.card-body {
    padding: 5%;
    margin-bottom: 5%;
}

#folderIcon{
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}

/* Estilos de boton de mas opciones */
#moreOptionBtn{
    width: 80%;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    background-color: #00304D;
    border-color: #ff583300;
    border-radius: 20px;
}

#moreOptionBtn:hover{
    background-color: #39A900;
}
